@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: rgb(34, 37, 42);
  color: whitesmoke;
  color: rgb(160, 118, 202);
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
  border-radius: 6px;
  padding: 1rem;
  /* border: 1px rgba(244, 165, 96, 0.3) solid; */
}

h1 {
  margin: 0;
}

.send {
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  gap: 0.2em;
}

input,
select {
  width: 220px;
  font: inherit;
  background-color: rgb(44, 47, 62);
  color: rgb(249, 181, 53);
  height: 2rem;
  padding: 0 0.5em;
  -webkit-appearance: none;
  outline: none;
  border-style: hidden;
  border-radius: 0;
}

select {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;

}

input:focus,
select:focus,
input:hover {
  outline-width: 1px;
  outline-style: solid;
}

span {
  font-size: 1.5rem;
}